
@{
    ViewData["Title"] = "EditUpdate";
}

<h1>EditUpdate</h1>


<form action="Post" method="post">
    <div class="container">


        <label for="email"><b>Friend ID :</b></label>
        <input type="text" placeholder="Enter Friend ID" name="FriendId" required>
        <br />
        <label for="psw"><b>Friend Name :</b></label>
        <input type="text" placeholder="Enter Name" name="FriendName" required>
        <br />
        <label for="psw-repeat"><b>Place :</b></label>
        <input type="text" placeholder="Enter Place Name" name="Place" required>
        <br />


        <button type="submit" class="registerbtn">Update</button>
        <button type="submit" class="registerbtn">Back</button>

    </div>


</form>